body {
  font-family: "DM Sans", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

:root {
  --black: #383d3b;
  --white: #fff;
  --gray: #eeeeee;
  --secondary: #92dce5;
  --primary: #52dee5;
  --text: #455963;
}

.container {
  display: flex;
  justify-content: center;
}
